In [12]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv('raw.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (100,102,104,110,138,139,140,141,142,156,175,178,187,191,233,262,263,286,287,289,291,316,317,318,320,321,349,351,355,356,357,361,369,370,380,387,388,418,450,453,456,462,469,473,477,478,479,480,482,483,484,485,486,487,488,489,491,492,493,494,495,497,498,500,501,502,504,505,506,507,508,561,562,614,640,658,664,676,680) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(df.head())

   wgtpop  wgthh  dataright_seq match  match_level_1 State_99039  \
0    1973    391           2517     Y            1.0          CT
1     348    345           2518     Y            1.0          CT
2     396    392           2519     Y            1.0          CT
3     838    276           2520     N            NaN         NaN
4    1040    515           2521     Y            1.0          CT

   Zip_Code_99040  Zip4_Code_99041  Len_of_Residence_90300  \
0          6604.0           2004.0                     NaN
1          6604.0           2004.0                     1.0
2          6604.0           2003.0                    15.0
3             NaN              NaN                     NaN
4          6604.0           2004.0                    15.0

  Marital_Status_90301          ...          other22_times_shopped_30_days  \
0                  NaN          ...                                    NaN
1                  NaN          ...                                    NaN
2                  NaN          ...                                    NaN
3                  NaN          ...                                    NaN
4                    M          ...                                    NaN

  other22_shopped_3_mos other23_times_shopped_30_days other23_shopped_3_mos  \
0                     0                           NaN                     0
1                     0                           NaN                     0
2                     0                           NaN                     0
3                     0                           NaN                     0
4                     0                           NaN                     0

   other24_times_shopped_30_days  other24_shopped_3_mos  \
0                              C                      1
1                              C                      1
2                            NaN                      0
3                            NaN                      0
4                            NaN                      0

  other25_times_shopped_30_days other25_shopped_3_mos  \
0                           NaN                     0
1                           NaN                     0
2                           NaN                     0
3                           NaN                     0
4                           NaN                     0

  other26_times_shopped_30_days other26_shopped_3_mos
0                           NaN                     0
1                           NaN                     0
2                           NaN                     0
3                           NaN                     0
4                           NaN                     0

[5 rows x 684 columns]

In [4]:
df_test = df[df['match']=='Y']

In [6]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35966 entries, 0 to 48645
Columns: 684 entries, wgtpop to other26_shopped_3_mos
dtypes: float64(158), int64(36), object(490)
memory usage: 188.0+ MB

In [8]:
df_bought_any = df_test[df_test['wc_bought_any']==1]

In [11]:
print(df_bought_any.head(5))

   wgtpop  wgthh  dataright_seq match  match_level_1 State_99039  \
1     348    345           2518     Y            1.0          CT
2     396    392           2519     Y            1.0          CT
4    1040    515           2521     Y            1.0          CT
6     577    286           2523     Y            1.0          CT
7     656    217           2524     Y            1.0          CT

   Zip_Code_99040  Zip4_Code_99041  Len_of_Residence_90300  \
1          6604.0           2004.0                     1.0
2          6604.0           2003.0                    15.0
4          6604.0           2004.0                    15.0
6          6604.0           2003.0                    15.0
7          6604.0           2004.0                    15.0

  Marital_Status_90301          ...          other22_times_shopped_30_days  \
1                  NaN          ...                                    NaN
2                  NaN          ...                                    NaN
4                    M          ...                                    NaN
6                  NaN          ...                                    NaN
7                    M          ...                                    NaN

  other22_shopped_3_mos other23_times_shopped_30_days other23_shopped_3_mos  \
1                     0                           NaN                     0
2                     0                           NaN                     0
4                     0                           NaN                     0
6                     0                           NaN                     0
7                     0                           NaN                     0

   other24_times_shopped_30_days  other24_shopped_3_mos  \
1                              C                      1
2                            NaN                      0
4                            NaN                      0
6                            NaN                      0
7                            NaN                      0

  other25_times_shopped_30_days other25_shopped_3_mos  \
1                           NaN                     0
2                           NaN                     0
4                           NaN                     0
6                           NaN                     0
7                           NaN                     0

  other26_times_shopped_30_days other26_shopped_3_mos
1                           NaN                     0
2                           NaN                     0
4                           NaN                     0
6                           NaN                     0
7                           NaN                     0

[5 rows x 684 columns]